<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/detailCourse.css" />
    <title>Detail Cousre</title>
  </head>
  <body>
    <header>
      <div class="introduce"></div>
      <div class="ladi-image">
        <img
          src="/images/detailPage/AnhHome.png"
          height="64px"
          weigth="250px"
        />
      </div>
      <div class="menu">
        <ul class="menu">
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/Search?search-text=">Khóa học</a></li>
          <li><a href="">Bài viết</a></li>
          <li><a href="">Liên hệ</a></li>
        </ul>
      </div>
      <form action="" id="ladi_search">
        <button id="search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input type="text" placeholder="Search" id="search-text" />
      </form>
    </header>
    <div class="wrapper">
      <div class="main_detail">
        <div class="image_course">
          <img src="<%= data.course_path %>" />
        </div>
        <div class="introduce_course">
          <h2><%= data["course_name"]%></h2>
          <span class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </span>
          <div class="information_course">
            <ul>
              <li class="information">
                <span class="text1">Độ tuổi:</span>
                <span class="text2"><%= data["course_for_age"]%></span>
              </li>
              <li class="information">
                <span class="text1">Trình độ học vấn:</span>
                <span class="text2"><%= data["learn_level_required"]%></span>
              </li>
              <li class="information">
                <span class="text1">Trình độ ngoại ngữ:</span>
                <span class="text2"
                  ><%= data["course_level"]%></span
                >
              </li>
              <li class="information">
                <span class="text1">Thời lượng khóa học:</span>
                <span class="text2"><%= data["course_duration"]%></span>
              </li>
              <li class="information">
                <span class="text1">Lịch học:</span>
                <span class="text2"
                  ><%= data["course_schedule"]%></span
                >
              </li>
              <li class="information">
                <span class="text1">Nhà cung cấp:</span>
                <span class="text2"
                  ><%= data["cp_name"]%></span
                >
              </li>
              <li class="information">
                <span class="text1">Số điện thoại:</span>
                <span class="text2"
                  >0<%= data["cp_mobile"]%></span
                >
              </li>
              <li class="information">
                <span class="text1">Email:</span>
                <span class="text2"
                  >0<%= data["cp_email"]%></span
                >
              </li>
              <li class="information">
                <span class="text1">Số điện thoại:</span>
                <span class="text2"
                  >0<%= data["cp_address"]%></span
                >
              </li>
              <li><hr class="underline" /></li>
              <li><b class="text4"><%= data["course_price"]%> VND</b></li>
              <li>
                <a href=""><button class="btn">Apply now</button></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <span class="more_information">
        <h3 class="text3">Mô tả chi tiết</h3>
        <hr class="underline1" />
        <div class="content">
          <p class="text5">
            <%= data["course_desc"]%>
          </p>
        </div>
      </span>
      <span class="feedback">
        <h3 class="text3">Đánh giá về khóa học</h3>
        <div class="container-all">
          <div class="container">
            <span class="container1">
              <span class="circle"></span>
              <span class="line"></span>
            </span>
            <span class="container2">
              <span class="container-name">
                <div class="name"><b> Trần Thị Hương </b></div>
              </span>
              <span class="retangle_review">
                <div class="review">
                  <p>
                    Khóa học tiếng Anh cơ bản rất hữu ích và giúp tôi nắm vững
                    những kiến thức cơ bản về ngữ pháp và từ vựng. Giảng viên
                    rất tận tâm và nhiệt tình giảng dạy. Tôi đã cảm thấy tự tin
                    hơn khi nói tiếng Anh sau khi hoàn thành khóa học này.
                  </p>
                  <p>Thời gian đăng: 2 tháng trước.</p>
                </div>
              </span>
            </span>
          </div>
          <div class="containerA">
            <span class="container1">
              <span class="circle"></span>
              <span class="line"></span>
            </span>
            <span class="container2">
              <span class="container-name">
                <div class="name"><b> Nguyễn Văn Bình </b></div>
              </span>
              <span class="retangle_review">
                <div class="review">
                  <p>
                    Khóa học tiếng Anh cơ bản rất hữu ích và giúp tôi nắm vững
                    những kiến thức cơ bản về ngữ pháp và từ vựng. Giảng viên
                    rất tận tâm và nhiệt tình giảng dạy. Tôi đã cảm thấy tự tin
                    hơn khi nói tiếng Anh sau khi hoàn thành khóa học này.
                  </p>
                  <p>Thời gian đăng: 3 tháng trước.</p>
                </div>
              </span>
            </span>
          </div>
        </div>
        <div class="container-allB">
          <div class="containerB">
            <span class="container1">
              <span class="circle"></span>
              <span class="line"></span>
            </span>
            <span class="container2">
              <span class="container-name">
                <div class="name"><b> Đỗ Minh Nhật </b></div>
              </span>
              <span class="retangle_review">
                <div class="review">
                  <p>
                    Khóa học tiếng Anh cơ bản rất hữu ích và giúp tôi nắm vững
                    những kiến thức cơ bản về ngữ pháp và từ vựng. Giảng viên
                    rất tận tâm và nhiệt tình giảng dạy. Tôi đã cảm thấy tự tin
                    hơn khi nói tiếng Anh sau khi hoàn thành khóa học này.
                  </p>
                  <p>Thời gian đăng: 4 tháng trước.</p>
                </div>
              </span>
            </span>
          </div>
          <div class="containerC">
            <span class="container1">
              <span class="circle"></span>
              <span class="line"></span>
            </span>
            <span class="container2">
              <span class="container-name">
                <div class="name"><b> Hoàng Thảo Ly </b></div>
              </span>
              <span class="retangle_review">
                <div class="review">
                  <p>
                    Khóa học tiếng Anh cơ bản rất hữu ích và giúp tôi nắm vững
                    những kiến thức cơ bản về ngữ pháp và từ vựng. Giảng viên
                    rất tận tâm và nhiệt tình giảng dạy. Tôi đã cảm thấy tự tin
                    hơn khi nói tiếng Anh sau khi hoàn thành khóa học này.
                  </p>
                  <p>Thời gian đăng: 5 tháng trước.</p>
                </div>
              </span>
            </span>
          </div>
        </div>
      </span>
    </div>
    <div class="footer">
      <span class="container-footer1">
        <span class="text-footer"><b>Đóng góp ý kiến tại đây</b></span>
        <span class="input-text">
          <input
            type="feedback"
            name="feedback"
            placeholder="Đóng góp ý kiến tại đây"
            autocomplete="off"
            class="input_feedback"
          />
          <button class="button-footer">Đăng</button>
        </span>
      </span>
    </div>
    <footer>
      <div class="mx-auto">
        <div class="justify-between">
          <div>
            <h4 class="font-medium">Get In Touch</h4>
            <ul class="mt-4">
              <li class="text-xs">the quick fox jumps over the lazy dog</li>
              <div class="justify-start">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-solid fa-dove"></i>
              </div>
            </ul>
          </div>
          <div>
            <h4 class="font-medium">Company info</h4>
            <ul class="mt-4">
              <li class="text-xs">About Us</li>
              <li class="text-xs">Carrier</li>
              <li class="text-xs">We are hiring</li>
              <li class="text-xs">Blog</li>
            </ul>
          </div>
          <div>
            <h4 class="font-medium">Features</h4>
            <ul class="mt-4">
              <li class="text-xs">Business Marketing</li>
              <li class="text-xs">User Analytic</li>
              <li class="text-xs">Live Chat</li>
              <li class="text-xs">Unlimited Support</li>
            </ul>
          </div>
          <div>
            <h4 class="font-medium">Resources</h4>
            <ul class="mt-4">
              <li class="text-xs">IOS & Android</li>
              <li class="text-xs">Watch a Demo</li>
              <li class="text-xs">Customers</li>
              <li class="text-xs">API</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
