<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/home.css" />
    <title>Home pages</title>
  </head>

  <body>
    <header>
      <div class="introduce"></div>
      <div class="ladi-image">
        <img
          src="/images/homePage/AnhHome.png"
          alt=""
          height="60px"
          weigth="200px"
        />
      </div>
      
      <div class="menu">
        <ul class="menu">
          <li><a href="/Home">Trang chủ</a></li>
          <li><a href="/Introduction">Giới thiệu</a></li>    
          <li><a href="/Search?search-text=">Khóa học</a></li>
          <li><a href="">Liên hệ</a></li>
        </ul>
      </div>

      <form action="/Search" id="ladi_search">
        <button type="submit" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" placeholder="Search" id="search-text" name="search-text">
      </form>

    </header>

    <div class="introduction">
      <div class="paragrap">
        <h2 class="title_box">Never stop learning</h2>
        <h2 class="text">
          Grow up your skills by online courses with Onlearning
        </h2>
      </div>
      <div class="picture">
        <img
          src="/images/homePage/AnhHome1.png"
          alt=""
          height="500px"
          width="700x"
        />
      </div>
      <div class="elclipse">
        <img src="/images/homePage/more.png" alt="pics" />
      </div>
    </div>

    <content>
      <div class="container">
        <div class="container-name">
          <h1>Các khóa học nổi bật</h1>
        </div>
        <ul class="container-button">
          <li><a href="/Search?search-text=">Tất cả</a></li>
          <li><a href="/Search?search-text=beginner">Cơ bản</a></li>
          <li><a href="/Search?search-text=Intermediate">Trung cấp</a></li>
          <li><a href="/Search?search-text=Advanced">Nâng cao</a></li>
        </ul>
      </div>

      <div class="port">
        <div class="content__promotion-overview">
          <% for(var i=0; i<data.length; i++) {%>
            <div class="col">
              <div class="content__overview-package">
                <img
                  src="<%= data[i].course_path %>"
                  height="150px"
                  width="200px"
                  alt=""
                  class="content__overview-package-img"
                />
                <span class="content__overview-time">Mức độ: <%= data[i].course_level %></span>
                <h2 class="content__overview-title"><%= data[i].course_name %></h2>
                <p class="ovreview-package-heading">
                  <%= data[i].course_desc %>
                </p>
                <div class="add">
                  <p class="content__overview-price"><%= data[i].course_price %> VNĐ</p>
                  <a href="">
                    <button class="content__overview-button"><a href="/DetailCourse?id=<%= data[i].course_id%>">Tham gia</a></button>
                  </a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="button-click">
        <button class="button-open">Xem tất cả</button>
      </div>
    </content>

    <div class="content_intro">
      <div class="conten_intro-picture">
        <img
          src="/images/homePage/AnhHome3.png"
          height="400px"
          width="700px"
          alt=""
          class="content_intro-picture"
        />
      </div>
      <div class="content_intro-overview">
        <h1 class="content_intro-name">Cam kết chất lượng</h1>
        <img src="/images/homePage/Anh1.png" height="120px" width="550px" />
        <img src="/images/homePage/Anh2.png" height="120px" width="550px" />
        <img src="/images/homePage/Anh3.png" height="120px" width="550px" />
      </div>
    </div>
    <footer>
      <div class="retangle">
        <div class="contact_footer">
          <img
            src="/images/homePage/AnhHome.png"
            width="200px"
            height="100px"
          />
          <img
            src="/images/homePage/contact.png"
            width="280px"
            height="180px"
          />
        </div>
        <div class="link_footer">
          <h4>Liên kết</h4>
          <li><a href=" ">Liên hệ</a></li>
          <li><a href=" ">Bài viết</a></li>
        </div>
        <div class="email_footer">
          <li>Chúng tôi luôn cập nhật khóa học mới nhất</li>
          <div class="email_form">
            <input
              type="email"
              name="email"
              placeholder="email"
              autocomplete="off"
              class="input_email"
            />
            <button class="button_submit">Gửi</button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
